<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="bundle.css">
  <title>Rejseplanen API</title>
</head>

<body>
  <div id="app" class="container">
    <div class="jumbotron">
      <div id="Search">
        <h1>
          <input v-model="search" placeholder="Search">
        </h1>
        <button v-on:click="getLibraryAsync()" class="btn btn-primary">Search</button>
        <button v-on:click="deleteLibraryAsync()" class="btn btn-primary">Done</button>
        <button id="hastighedBtn" v-on:click="getHastighed()" class="btn btn-primary">Hastighed</button>
      </div>
      <library v-for="library in librarys" v-bind:key="library.id" v-bind:library="library"></library>
      <input id="distanceInput" type="text" v-model="distance">
      <input id="departureTime" type="datetime-local" v-model="departureTime">
      <p id="distance">{{ distance }}</p>
      <p id="departure">{{ departureTime }}</p>
      <p id="hastighed">{{ hastighed }}</p>
    </div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>