<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rejseplan 2.0</title>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="bundle.css">
</head>

<body>
  <div id="app" class="container">
    <div class="jumbotron">
      <div id="Search">
        <h1>
          <input v-model="search" placeholder="Search">
          <input v-model="afgang" placeholder="Din lokation" @keyup="getAfgangTimeOut()" list="afgang_stoppested">
          <datalist id="afgang_stoppested">
            <option v-for="stoppested in afgang_stoppested">
              {{stoppested.name}}
            </option>
          </datalist>
          <input v-model="ankomst" placeholder="Ankomst" @keyup="getAnkomstTimeOut()" list="ankomst_stoppested">
          <datalist id="ankomst_stoppested">
            <option v-for="stoppested in ankomst_stoppested">
              {{stoppested.name}}
            </option>
          </datalist>

        </h1>
        <button v-on:click="getLibraryAsync()" class="btn btn-primary">Search</button>
        <button v-on:click="deleteLibraryAsync()" class="btn btn-primary">Done</button>


        <button id="hastighedBtn" v-on:click="getHastighed()" class="btn btn-primary">Hastighed</button>
        <!--
          <button id="getLocation" v-on:click="getLocation()" class="btn btn-primary">Location</button>
          <button v-on:click="getAfgang()" class="btn btn-primary">Afgang</button>
          <button v-on:click="getAnkomst()" class="btn btn-primary">Ankomst</button>
          <button v-on:click="getDistance()" class="btn btn-primary">Distance</button>
        -->



      </div>
      <library v-for="library in librarys" v-bind:key="library.id" v-bind:library="library"></library>
      <input id="distanceInput" type="text" v-model="distance">
      <input id="departureTime" type="datetime-local" v-model="departureTime">
      <p id="distance">{{ distance }}</p>
      <p id="distance">{{ distance }}<span v-if="distance"> meter</span></p>
      <p id="departure">{{ departureTime }}</p>
      <p id="hastighed">{{ hastighed }}</p>
      <p id="userDepartureTime">{{ userDepartureTime }}</p>
    </div>

  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="bundle.js"></script>
</body>
</html>