$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}
#itemDiv{
    align-self: center;
    align-content: center;
}
.container{
    
	display: grid;
	grid-gap: 20px;
    grid-template-columns: auto auto auto;
    max-width: 1280px;
    max-height: auto;
    grid-auto-rows: minmax(auto, auto);
}.item {
    max-width: 400px;
}img { 
    max-width:100%; 
    height:auto; 
}
button{
    padding: 50px;
    width: 400px;
    height: 240px;
    // position: absolute;
  margin:auto;
  display:block;
  font-size: 400%;
}